<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a title="" href="newsfeed.html"><img alt="" src="images/logo2.png"></a>
        </span>
        <span class="mh-btns-right">
            <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
    </div>
    <div class="mh-head second">
        <form class="mh-form">
            <input placeholder="search">
            <a class="fa fa-search" href="#/"></a>
        </form>
    </div>
    <nav class="res-menu" id="menu">
        <ul>
            <li><span>Home</span>
                <ul>
                    <li><a title="" href="index-2.html">Home Social</a></li>
                    <li><a title="" href="index2.html">Home Social 2</a></li>
                    <li><a title="" href="index-company.html">Home Company</a></li>
                    <li><a title="" href="landing.html">Login page</a></li>
                    <li><a title="" href="logout.html">Logout Page</a></li>
                    <li><a title="" href="newsfeed.html">news feed</a></li>
                </ul>
            </li>
            <li><span>Time Line</span>
                <ul>
                    <li><a title="" href="time-line.html">timeline</a></li>
                    <li><a title="" href="timeline-friends.html">timeline friends</a></li>
                    <li><a title="" href="timeline-groups.html">timeline groups</a></li>
                    <li><a title="" href="timeline-pages.html">timeline pages</a></li>
                    <li><a title="" href="timeline-photos.html">timeline photos</a></li>
                    <li><a title="" href="timeline-videos.html">timeline videos</a></li>
                    <li><a title="" href="fav-page.html">favourit page</a></li>
                    <li><a title="" href="groups.html">groups page</a></li>
                    <li><a title="" href="page-likers.html">Likes page</a></li>
                    <li><a title="" href="people-nearby.html">people nearby</a></li>
                    
                    
                </ul>
            </li>
            <li><span>Account Setting</span>
                <ul>
                    <li><a title="" href="create-fav-page.html">create fav page</a></li>
                    <li><a title="" href="edit-account-setting.html">edit account setting</a></li>
                    <li><a title="" href="edit-interest.html">edit-interest</a></li>
                    <li><a title="" href="edit-password.html">edit-password</a></li>
                    <li><a title="" href="edit-profile-basic.html">edit profile basics</a></li>
                    <li><a title="" href="edit-work-eductation.html">edit work educations</a></li>
                    <li><a title="" href="messages.html">message box</a></li>
                    <li><a title="" href="inbox.html">Inbox</a></li>
                    <li><a title="" href="notifications.html">notifications page</a></li>
                </ul>
            </li>
            <li><span>forum</span>
                <ul>
                    <li><a title="" href="forum.html">Forum Page</a></li>
                    <li><a title="" href="forums-category.html">Fourm Category</a></li>
                    <li><a title="" href="forum-open-topic.html">Forum Open Topic</a></li>
                    <li><a title="" href="forum-create-topic.html">Forum Create Topic</a></li>
                </ul>
            </li>
            <li><span>Our Shop</span>
                <ul>
                    <li><a title="" href="shop.html">Shop Products</a></li>
                    <li><a title="" href="shop-masonry.html">Shop Masonry Products</a></li>
                    <li><a title="" href="shop-single.html">Shop Detail Page</a></li>
                    <li><a title="" href="shop-cart.html">Shop Product Cart</a></li>
                    <li><a title="" href="shop-checkout.html">Product Checkout</a></li>
                </ul>
            </li>
            <li><span>Our Blog</span>
                <ul>
                    <li><a title="" href="blog-grid-wo-sidebar.html">Our Blog</a></li>
                    <li><a title="" href="blog-grid-right-sidebar.html">Blog with R-Sidebar</a></li>
                    <li><a title="" href="blog-grid-left-sidebar.html">Blog with L-Sidebar</a></li>
                    <li><a title="" href="blog-masonry.html">Blog Masonry Style</a></li>
                    <li><a title="" href="blog-list-wo-sidebar.html">Blog List Style</a></li>
                    <li><a title="" href="blog-list-right-sidebar.html">Blog List with R-Sidebar</a></li>
                    <li><a title="" href="blog-list-left-sidebar.html">Blog List with L-Sidebar</a></li>
                    <li><a title="" href="blog-detail.html">Blog Post Detail</a></li>
                </ul>
            </li>
            <li><span>Portfolio</span>
                <ul>
                    <li><a title="" href="portfolio-2colm.html">Portfolio 2col</a></li>
                    <li><a title="" href="portfolio-3colm.html">Portfolio 3col</a></li>
                    <li><a title="" href="portfolio-4colm.html">Portfolio 4col</a></li>
                </ul>
            </li>
            <li><span>Support &amp; Help</span>
                <ul>
                    <li><a title="" href="support-and-help.html">Support &amp; Help</a></li>
                    <li><a title="" href="support-and-help-detail.html">Support &amp; Help Detail</a></li>
                    <li><a title="" href="support-and-help-search-result.html">Support &amp; Help Search Result</a></li>
                </ul>
            </li>
            <li><span>More pages</span>
                <ul>
                    <li><a title="" href="careers.html">Careers</a></li>
                    <li><a title="" href="career-detail.html">Career Detail</a></li>
                    <li><a title="" href="404.html">404 error page</a></li>
                    <li><a title="" href="404-2.html">404 Style2</a></li>
                    <li><a title="" href="faq.html">faq's page</a></li>
                    <li><a title="" href="insights.html">insights</a></li>
                    <li><a title="" href="knowledge-base.html">knowledge base</a></li>
                </ul>
            </li>
            <li><a title="" href="about.html">about</a></li>
            <li><a title="" href="about-company.html">About Us2</a></li>
            <li><a title="" href="contact.html">contact</a></li>
            <li><a title="" href="contact-branches.html">Contact Us2</a></li>
            <li><a title="" href="widgets.html">Widgts</a></li>
        </ul>
    </nav>
    <nav id="shoppingbag">
        <div>
            <div>
                <form method="post">
                    <div class="setting-row">
                        <span>use night mode</span>
                        <input id="nightmode" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Notifications</span>
                        <input id="switch2" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Notification sound</span>
                        <input id="switch3" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>My profile</span>
                        <input id="switch4" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Show profile</span>
                        <input id="switch5" type="checkbox"> 
                    </div>
                </form>
                <h4 class="panel-title">Account Setting</h4>
                <form method="post">
                    <div class="setting-row">
                        <span>Sub users</span>
                        <input id="switch6" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>personal account</span>
                        <input id="switch7" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Business account</span>
                        <input id="switch8" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Show me online</span>
                        <input id="switch9" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Delete history</span>
                        <input id="switch10" type="checkbox"> 
                    </div>
                    <div class="setting-row">
                        <span>Expose author name</span>
                        <input id="switch11" type="checkbox"> 
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="topbar stick">
    <div class="logo">
        <a title="" href="newsfeed.html"><img alt="" src="images/logo.png"></a>
    </div>
    
    <div class="top-area">
        <div class="top-search">
            <form method="post">
                <input type="text" placeholder="Search Friend">
                <button data-ripple=""><i class="ti-search"></i></button>
            </form>
        </div>
        <ul class="setting-area">
            <li><a title="Home" href="newsfeed.html" data-ripple=""><i class="ti-home"></i></a></li>
            <li>
                <a title="Notification" href="#" data-ripple="">
                    <i class="ti-bell"></i><span>20</span>
                </a>
                <div class="dropdowns">
                    <span>4 New Notifications</span>
                    <ul class="drops-menu">
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-1.jpg">
                                <div class="mesg-meta">
                                    <h6>sarah Loren</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag green">New</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-2.jpg">
                                <div class="mesg-meta">
                                    <h6>Jhon doe</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag red">Reply</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-3.jpg">
                                <div class="mesg-meta">
                                    <h6>Andrew</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag blue">Unseen</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-4.jpg">
                                <div class="mesg-meta">
                                    <h6>Tom cruse</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-5.jpg">
                                <div class="mesg-meta">
                                    <h6>Amy</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                    </ul>
                    <a title="" class="more-mesg" href="notifications.html">view more</a>
                </div>
            </li>
            <li>
                <a title="Messages" href="#" data-ripple=""><i class="ti-comment"></i><span>12</span></a>
                <div class="dropdowns">
                    <span>5 New Messages</span>
                    <ul class="drops-menu">
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-1.jpg">
                                <div class="mesg-meta">
                                    <h6>sarah Loren</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag green">New</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-2.jpg">
                                <div class="mesg-meta">
                                    <h6>Jhon doe</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag red">Reply</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-3.jpg">
                                <div class="mesg-meta">
                                    <h6>Andrew</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag blue">Unseen</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-4.jpg">
                                <div class="mesg-meta">
                                    <h6>Tom cruse</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                        <li>
                            <a title="" href="notifications.html">
                                <img alt="" src="images/resources/thumb-5.jpg">
                                <div class="mesg-meta">
                                    <h6>Amy</h6>
                                    <span>Hi, how r u dear ...?</span>
                                    <i>2 min ago</i>
                                </div>
                            </a>
                            <span class="tag">New</span>
                        </li>
                    </ul>
                    <a title="" class="more-mesg" href="messages.html">view more</a>
                </div>
            </li>
            <li><a title="Languages" href="#" data-ripple=""><i class="fa fa-globe"></i></a>
                <div class="dropdowns languages">
                    <a title="" href="#"><i class="ti-check"></i>English</a>
                    <a title="" href="#">Arabic</a>
                    <a title="" href="#">Dutch</a>
                    <a title="" href="#">French</a>
                </div>
            </li>
        </ul>
        <div class="user-img">
            <img alt="" src="images/resources/admin.jpg">
            <span class="status f-online"></span>
            <div class="user-setting">
                <a title="" href="#"><span class="status f-online"></span>online</a>
                <a title="" href="#"><span class="status f-away"></span>away</a>
                <a title="" href="#"><span class="status f-off"></span>offline</a>
                <a title="" href="#"><i class="ti-user"></i> view profile</a>
                <a title="" href="#"><i class="ti-pencil-alt"></i>edit profile</a>
                <a title="" href="#"><i class="ti-target"></i>activity log</a>
                <a title="" href="#"><i class="ti-settings"></i>account setting</a>
                <a title="" href="#"><i class="ti-power-off"></i>log out</a>
            </div>
        </div>
        <span class="ti-menu main-menu" data-ripple=""></span>
    </div>
</div>
