<div class="responsive-header">
    <div class="mh-head first Sticky">
        <span class="mh-btns-left">
            <a class="" href="#menu"><i class="fa fa-align-justify"></i></a>
        </span>
        <span class="mh-text">
            <a href="newsfeed.html" title=""><img src="images/logo2.png" alt=""></a>
        </span>
        <span class="mh-btns-right">
            <a class="fa fa-sliders" href="#shoppingbag"></a>
        </span>
    </div>
    <div class="mh-head second">
        <form class="mh-form">
            <input placeholder="search" />
            <a href="#/" class="fa fa-search"></a>
        </form>
    </div>
    <nav id="menu" class="res-menu">
        <ul>
            <li><span>Home</span>
                <ul>
                    <li><a href="index-2.html" title="">Home Social</a></li>
                    <li><a href="index2.html" title="">Home Social 2</a></li>
                    <li><a href="index-company.html" title="">Home Company</a></li>
                    <li><a href="landing.html" title="">Login page</a></li>
                    <li><a href="logout.html" title="">Logout Page</a></li>
                    <li><a href="newsfeed.html" title="">news feed</a></li>
                </ul>
            </li>
            <li><span>Time Line</span>
                <ul>
                    <li><a href="" title="">timeline</a></li>
                    <li><a href="" title="">timeline friends</a></li>
                    <li><a href="" title="">timeline groups</a></li>
                    <li><a href="" title="">timeline pages</a></li>
                    <li><a href="" title="">timeline photos</a></li>
                    <li><a href="" title="">timeline videos</a></li>
                    <li><a href="" title="">favourit page</a></li>
                </ul>
            </li>
            <li><span>Account Setting</span>
                <ul>
                    <li><a href="create-fav-page.html" title="">create fav page</a></li>
                    <li><a href="edit-account-setting.html" title="">edit account setting</a></li>
                    <li><a href="edit-interest.html" title="">edit-interest</a></li>
                    <li><a href="edit-password.html" title="">edit-password</a></li>
                    <li><a href="edit-profile-basic.html" title="">edit profile basics</a></li>>
                </ul>
            </li>
            <li><a href="about.html" title="">about</a></li>
            <li><a href="about-company.html" title="">About Us2</a></li>
            <li><a href="contact.html" title="">contact</a></li>
            <li><a href="contact-branches.html" title="">Contact Us2</a></li>
            <li><a href="widgets.html" title="">Widgts</a></li>
        </ul>
    </nav>
</div>