<div class="central-meta">
  <div class="new-postbox">
    <figure>
      <img src="../../../assets/images/resources/admin2.jpg" alt="" />
    </figure>
    <div class="newpst-input">
      <form method="post" [formGroup]="postForm" (ngSubmit)="onFormSubmit()">
        <textarea
          rows="2"
          placeholder="write something"
          formControlName="content"
        ></textarea>
        <div class="attachments">
          <ul>
            <li>
              <div>
                <select class="post__scope" formControlName="scope">
                  <option
                    *ngFor="let userScope of postScope"
                    [ngValue]="userScope.type"
                  >
                    {{ userScope.name }}
                  </option>
                </select>
              </div>
            </li>
            <li>
              <i class="fa fa-music"></i>
              <label class="fileContainer">
                <input type="file" />
              </label>
            </li>
            <li>
              <i class="fa fa-image"></i>
              <label class="fileContainer">
                <input type="file" />
              </label>
            </li>
            <li>
              <i class="fa fa-video-camera"></i>
              <label class="fileContainer">
                <input type="file" data-toggle="tooltip" title="video" />
              </label>
            </li>
            <li>
              <i class="fa fa-camera"></i>
              <label class="fileContainer">
                <input
                  multiple
                  accept=".png, .jpg, .jpeg"
                  type="file"
                  data-toggle="tooltip"
                  title="image"
                  (change)="onFileSelected($event)"
                  #fileUpload
                />
              </label>
            </li>
            <li>
              <button
                type="submit"
                [disabled]="postForm.invalid"
                [ngClass]="{ 'btn--disable': postForm.invalid }"
              >
                Post
              </button>
            </li>
          </ul>
        </div>
      </form>
      <div class="mt-5">
        <div class="row">
          <div class="upload_image_list">
            <div
              class="upload_image_item"
              *ngFor="let image of uploadImages; let i = index"
            >
              <img [src]="image.url" class="upload_photo" />
              <span
                href=""
                class="upload_image--remove"
                (click)="removeImages(i)"
                >x</span
              >
            </div>
          </div>

          <!-- //upload post handle           -->
          <p>Upload Percent: {{percentDone}}% </p> <br />
          <ng-container *ngIf="uploadSuccess" class="success">
            <p class="sucess">Upload Successful</p>
          </ng-container>
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
