
    <aside class="sidebar static">
        <div class="widget">
            <h4 class="widget-title">NetWork</h4>
            <ul class="naves">
                <li>
                    <i class="ti-clipboard"></i>
                    <a href="newsfeed.html" title="">Tin mới</a>
                </li>
                <li>
                    <i class="ti-files"></i>
                    <a href="fav-page.html" title="">Trang cá nhân</a>
                </li>
                <li>
                    <i class="ti-user"></i>
                    <a href="timeline-friends.html" title="">Bạn bè</a>
                </li>
                <li>
                    <i class="ti-image"></i>
                    <a href="timeline-photos.html" title="">Ảnh</a>
                </li>
                <li>
                    <i class="ti-video-camera"></i>
                    <a href="timeline-videos.html" title="">Video</a>
                </li>
                <li>
                    <i class="ti-comments-smiley"></i>
                    <a href="messages.html" title="">Tin nhắn</a>
                </li>
                <li>
                    <i class="ti-bell"></i>
                    <a href="notifications.html" title="">Thông báo</a>
                </li>
                <li>
                    <i class="ti-share"></i>
                    <a href="people-nearby.html" title="">Những người lân cận</a>
                </li>
                <li>
                    <i class="fa fa-bar-chart-o"></i>
                    <a href="insights.html" title="">Hiểu biết</a>
                </li>
                <li>
                    <i class="ti-power-off"></i>
                    <a href="landing.html" title="">Đăng xuất</a>
                </li>
            </ul>
        </div><!-- Shortcuts -->
        <div class="widget">
            <h4 class="widget-title">HOẠT ĐỘNG GẦN ĐÂY</h4>
            <ul class="activitiez">
                <li>
                    <div class="activity-meta">
                        <i>10 giờ trước</i>
                        <span><a href="#" title="">Đã nhận xét về Video đã đăng </a></span>
                        <h6>by <a href="newsfeed.html">black demon.</a></h6>
                    </div>
                </li>
                <li>
                    <div class="activity-meta">
                        <i>30 ngày trước</i>
                        <span><a href="newsfeed.html" title="">Đã đăng trạng thái của bạn. "Chào mọi người, khoẻ không?"</a></span>
                    </div>
                </li>
                <li>
                    <div class="activity-meta">
                        <i>2 năm trước</i>
                        <span><a href="#" title="">Chia sẻ video trên dòng thời gian của cô ấy.</a></span>
                        <h6>"<a href="newsfeed.html">bạn thật hài hước mr.Luat.</a>"</h6>
                    </div>
                </li>
            </ul>
        </div><!-- recent activites -->
        <div class="widget stick-widget">
            <h4 class="widget-title">Who's follownig</h4>
            <ul class="followers">
                <li>
                    <figure><img src="assets/images/resources/friend-avatar2.jpg" alt="image"></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Kelly Bill</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="assets/images/resources/friend-avatar4.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Issabel</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="assets/images/resources/friend-avatar6.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Andrew</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="assets/images/resources/friend-avatar8.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Sophia</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
                <li>
                    <figure><img src="assets/images/resources/friend-avatar3.jpg" alt=""></figure>
                    <div class="friend-meta">
                        <h4><a href="time-line.html" title="">Allen</a></h4>
                        <a href="#" title="" class="underline">Add Friend</a>
                    </div>
                </li>
            </ul>
        </div><!-- who's following -->
    </aside><!-- sidebar -->

