<div>
  <div style="width:100%;height:100px;display:flex;background-color:rgb(26, 24, 52);">
    <div style="width:80%;margin-top: 1%;">
      <span class="animate-charcter" style="font-size:40px;color:rgb(250, 250, 250);margin-left: 8%;">
        DASHBOARD
      </span>
    </div>
    <div style="width:20%;color:aliceblue;margin-top: 30px;display:flex">

      <div style="width:50%;margin-top:2px">
        <span>Admin Dashboard</span> <br>
        <span>
          <i class="ti-power-off"></i>
          <a href="landing.html" title="">Logout</a>
        </span>
      </div>
      <div class="new-postbox" style="width:20%">
        <figure style="width: 30%;">
          <img src="../../../assets/images/resources/admin2.jpg" alt="" />
        </figure>
      </div>
    </div>
  </div>
</div>
<section>
  <div class="gap2 gray-bg">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="row merged20" id="page-contents">
            <div class="col-lg-3">
              <aside class="sidebar static left">
                <div class="widget">
                  <h4 class="widget-title">System management</h4>
                  <ul class="naves">
                    <li class="active">
                      <i class="ti-clipboard"></i>
                      <a href="dashboard" title="">Manager category</a>
                    </li>
                    <li>
                      <i class="ti-user"></i>
                      <a href="collection" title="">Manager account</a>
                    </li>
                  </ul>
                </div>
                <!-- Shortcuts -->
                <!-- <div class="widget">
                  <h4 class="widget-title">Recent Activity</h4>
                  <ul class="activitiez">
                    <li>
                      <div class="activity-meta">
                        <i>10 hours Ago</i>
                        <span><a href="#" title="">Commented on Video posted
                          </a></span>
                        <h6>by <a href="time-line.html">black demon.</a></h6>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>30 Days Ago</i>
                        <span><a href="#" title="">Posted your status. “Hello guys, how are you?”</a></span>
                      </div>
                    </li>
                    <li>
                      <div class="activity-meta">
                        <i>2 Years Ago</i>
                        <span><a href="#" title="">Share a video on her timeline.</a></span>
                        <h6>"<a href="#">you are so funny mr.been.</a>"</h6>
                      </div>
                    </li>
                  </ul>
                </div> -->
              </aside>
            </div>
            <!-- sidebar -->
            <div class="col-lg-8">
              <div class="central-meta" style="height:100%">
                <div class="new-postbox">
                  <div class="container-fluid">
                    <!-- <button (click)="onClick()" style="margin-right: 5px;" mat-raised-button color="primary"
                      class="btn-primary">Thêm</button> -->
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">List category</h1>
                    <div style="padding-left: 90%">
                      <button type="button" style="background-color:rgb(40, 77, 40);" class="btn btn-primary"> <a
                          href="dashboard/create">Add new</a></button>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                      <!-- <button (click)="onClick()" style="margin-right: 5px;" mat-raised-button color="primary"
                        class="btn-primary">Thêm</button> -->
                      <div class="card-body">
                        <div class="table-responsive">
                          <table class="table table-bordered" style="text-align: center" id="dataTable" width="100%"
                            cellspacing="0">
                            <thead>
                              <tr>
                                <th style="width:10%">Id</th>
                                <!-- <th style="width:15%">Category ID</th> -->
                                <th style="width:20%">Name</th>
                                <th style="width:20%">Image</th>
                                <th style="width:20%">Time create</th>
                                <th style="width:20%">#</th>
                              </tr>
                            </thead>
                            <tbody>

                              <tr *ngFor="let item of dataCate,index as i">
                                <th style="text-align: center; padding-top: 6%;">{{i+1}}</th>
                                <!-- <th style="text-align: center; padding-top: 6%;">{{item.categoryId}}</th> -->
                                <th style="text-align: center; padding-top: 6%;">{{item.categoryName}}</th>
                                <th style="width:100px;height:100px"><img width="60%" src="{{item.categoryImage}}"></th>
                                <th style="text-align: center; padding-top: 6%;">{{item.createdAt}}</th>
                                <th style="text-align: center; padding-top: 6%;">
                                  <!-- <button type="button" class="edit-button-table" mat-icon-button
                                    (click)="edit(item.categoryId)" style="color: #337ab7;">
                                    <i class="material-icons">edit</i>
                                  </button> -->
                                  <button type="button" style="background-color:rgb(26, 24, 52); width:40%"
                                    class="btn btn-primary"> <a
                                      [routerLink]="['/dashboard/create',item.categoryId]">Edit</a> </button>
                                  <span style="padding: 2%;"> </span>
                                  <button type="button" style="background-color:rgb(185, 77, 77);width:40%"
                                    class="btn btn-primary">Delete</button>

                                </th>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>