<div>
  <section>
    <div class="gap100">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-eror">
              <img src="./assets/images/resources/check.png" class="actice-icon" alt="" />
              <div class="error-meta">
                <h1 class="mb-3">Verify Success</h1>
                <span class="text-primary text-capitalize">please wait 5s to redirect home page</span>
               <div class="wrap-timeleft mt-3">
                {{timeLeft}}
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
